
svg{
  background-color: #e4e2dc;
   margin: 1px; 

}
body{
  margin:0px 0px 0 30px;
  
}
.legendlabel {
  font-weight: normal;
  font-size: 15px;
  fill: black;
  
}

 .view {
    fill: red;
    font-size: 10px;
    font-style: normal;
  }


  .toplabel {
    font-size: 17;
    fill: black;
    font-style: normal;
  }